---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../sections/Hero.astro';
import Stack from '../sections/Stack.astro';
import Skills from '../sections/Skills.astro';
import Projects from '../sections/Projects.astro';
import Contact from '../sections/Contact.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Stack />
    <Skills />
    <Projects />
    <Contact />
  </main>
</Layout>
